{%extends 'face.html'%}
{%block title%} {{target_user.username}} {%endblock%}
{%block content%}




<div>
    <div class="position">
        <h1>
                {{Buyer.username}}  
        </h1>
    
        {%if Buyer.userpic %}
        <img src="{{Buyer.userpic.url}}" style="height: 150px; width: 150px;" alt=""> 
        {%else%}
        <img style="height: 150px; width: 150px;" alt=""> 
        {%endif%}
        
        
    
    </div>
    <div class="position" id="overviev" > 
        {%if Buyer.overviev %} 
       {{Buyer.overviev}} 
       {%else%}
       Описание отсуствует 
       {%endif%}
      </div>
</div>





<div><br></div>

<hr>

<div class="sendcomment">

</div>

<form method="post" class="block-comment">
    
    {% csrf_token%}
        
       <div>
          
        <label for="sendcomment">Создать комментарий:</label>
           <textarea type="text" name="text" id="sendcomment"></textarea>
           <button class="btn" type="submit">Отправить</button>
       
        </div>
</form>   


<div class="blockcomment">
    
    <div class="center">
            <h3 >Комментарии профиля:</h3>
        
        </div>
        {%for i in Comment%}  
        <div class="comments">
            
            <div id="author"><h3><a>{{i.Fromuser}} </a></h3></div>
            
            <div id="text">{{i.text}}</div>
            
            
        </div>
        {%endfor%}
    </div>

</div>

{%endblock%}