
<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href={% static "css/styles.css" %}>
    
    
    <title>{%block title%}Баг{%endblock%}</title>
</head>
<body>
    <div class="navbar">
        <a href={% url 'main' %}>YesGames</a>
        <a href="#">Товары</a> 
        <a href="#">Корзина </a>
        <a href={% url "profile" %} >Профиль </a>
    </div>

    <div class="content">
        {%block content %} {%endblock%}
    </div>

    <div class="footer">
        <p>Все права защищены &copy; 2024</p>
    </div>

    <div class="side-strip left-strip"></div>
    <div class="side-strip right-strip"></div>

</html>